.button {
  display: block;
  border-radius: 14px;
  text-align: center;
}

.button--accent {
  background: linear-gradient(90deg, #FFA67A 0%, #FF6065 100%);
  box-shadow: 0 6px var(--accent-shadow);
  transition: box-shadow 100ms ease, transform 100ms ease;
}

.button--accent:hover {
  box-shadow: 0 10px var(--accent-shadow);
  transform: translateY(-4px);
}

.button--accent:focus {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2), 0 10px var(--accent-shadow);
  transform: translateY(-4px);
}

.button--accent:active {
  box-shadow: 0 0 var(--accent-shadow);
  transform: translateY(4px);
}

.button--normal {
  background-color: var(--white-text);
  border: 2px solid var(--dark-cobalt);
  border-radius: 14px;
  color: var(--dark-cobalt);
}

.button--normal:hover {
  background-color: var(--dark-cobalt);
  color: var(--white-text);
  transition: box-shadow 100ms ease, transform 100ms ease;
  box-shadow: 0 6px var(--cobalt-shadow);
  transform: translateY(-4px);
}

.button--normal:focus{
  box-shadow: 0 5px 3px rgba(219, 222, 255, 1);
  transform: translateY(-4px);
}

.button--normal:active {
  box-shadow: 0 0 var(--cobalt-shadow);
  transform: translateY(4px);
}