.welcome-screen-form-item {
  margin-bottom: 25px;
}

.icon {
  width: 21px;
  height: 21px;
  display: flex;
}

.welcome-screen-form-item-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.form-item-name {
  font-family: "QuickSand Bold", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: var(--coral-acsent);
}

.welcome-screen-select {
  min-width: 319px;
  border: 1px solid var(--white-text);
  border-radius: 10px;
  height: 54px;
  font-family: "QuickSand Bold", serif;
  font-style: normal;
  font-size: 13px;
  color: var(--white-text);
  padding: 16px 18px;
}

@media screen and (min-width: 1200px){
  .welcome-screen-select {
    min-width: 446px;
  }

  .welcome-screen-form-item {
    margin-bottom: 35px;
  }

}