.star {
  width: 100%;
  height: 100%;
  color: #969CDC;
  display: flex;
  position: relative;
}

.star--filled {
  width: 100%;
  height: 100%;
  color: #FF7C7C;
}

.star__input {
  position: absolute;
}
