.welcome-screen-config-form {
}

.welcome-screen-config-form__select-difficulty {
  margin-bottom: 25px;
}

.welcome-screen-config-form__select-amount {
  margin-bottom: 121px;
}

.welcome-screen-config-form__submit {
  min-width: 319px;
  height: 64px;
  color: var(--white-text);
  font-family: "QuickSand Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

/* desktops */
@media screen and (min-width: 1200px) {
  .welcome-screen-config-form__select-difficulty {
    margin-bottom: 35px;
  }

  .welcome-screen-config-form__submit {
    min-width: 446px;
    height: 89px;
    margin-bottom: 173px;
  }
}