.input-field {
}

.input-field__input {
  width: 100%;
  border: 1px solid var(--white-text);
  border-radius: 10px;
  height: 54px;
  font-size: 13px;
  font-weight: bold;
  color: var(--white-text);
  padding: 16px 18px;
}
