.answer-card-wrapper {
  min-width: 65px;
  border-radius: 14px;
  display: flex;
  padding: 22px 32px 27px 32px;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
}

.answer-card_p{
  color: var(--cobalt);
  font-weight: normal;
}

.answer-card-wrapper.true {
  background-color: #FFFBFA;
}

.answer-card-wrapper.false {
  background-color: #FFDBDB;
}

@media screen and (min-width: 1440px) {
  .answer-card-wrapper {
    min-width: 79px;
    padding: 22px 17px 27px 17px;
  }
}




