.answer-card {
  min-width: 65px;
  border-radius: 14px;
  display: flex;
  padding: 22px 32px 27px 32px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.answer-card__question {
  color: var(--cobalt);
  font-weight: normal;
}

.answer-card--correct {
  background-color: #FFFBFA;
}

.answer-card--incorrect {
  background-color: #FFDBDB;
}

.answer-card__icon {
  width: 20px;
  height: 15px;
  margin-left: 14px;
  flex-shrink: 0;
}

@media screen and (min-width: 1440px) {
  .answer-card {
    min-width: 79px;
    padding: 22px 17px 27px 17px;
  }
}
