@namespace svg "http://www.w3.org/2000/svg";

:not(svg|*) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

[default-styles] {
  all: revert;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cobalt: #4751C0;
  --cobalt-shadow: #424A9E;
  --dark-cobalt: #4953BE;
  --coral-acsent: #F7A491;
  --score: #FF7878;
  --white-text: #ffffff;
  --accent-shadow: #C65252;
}

/* reset */

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@font-face {
  font-family: "QuickSand";
  font-weight: bold;
  src: url("./assets/Quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "QuickSand";
  font-weight: normal;
  src: url("./assets/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "QuickSand";
  font-weight: 600;
  src: url("./assets/Quicksand/static/Quicksand-SemiBold.ttf");
}

body {
  font-family: "QuickSand", serif;
}

#root {
  flex: 1;
}
